extends layout
block content
    header.card-header
        h4.card-title Employee List
    div.form-row
        div.col.form-group.col-md-12   
            form.search(action='/employee/employeeList')
                div.form-row
                    div.col-md-8
                        input.form-control(name='gender' placeholder="Enter your search term(gender) ...")
                    div.col-md-4
                        input.btn.btn-dark.btn-block(type="submit")
    table.table.table-striped
        thead 
            tr
                th Full Name 
                th Email
                th Gender
                th Past incidences
                th Role
        tbody
            if users.length
            each user in users
                tr
                    td #{user.lastname +' '+ user.firstname}
                    td #{user.email}
                    td #{user.gender}
                    td #{user.pastincidences}
                    td #{user.role}
                    td
                        a(href='/employee/update/'+user._id) Update
                    td
                        form(method="post" action='/employee/delete')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete


